body {
    display: flex;
    justify-content: center;
    background-color: red;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    color: rgb(250, 224, 198);
}